@using TaskManager.Helpers
@model Blueprints.ITask

@{
    ViewBag.Title = "Details";
}

<h2>Task Details</h2>

<div>
    <hr />
    <div class="container">

        <div class="row">
            <div class="col">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Details)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Details)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Start)
                    </dt>

                    <dd>
                        @Html.DisplayDateOnlyFor(model => model.Start)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Stop)
                    </dt>

                    <dd>
                        @Html.DisplayDateOnlyFor(model => model.Stop)
                    </dd>

                    <dt>
                        Assigned To
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssignedTo.First) @Html.DisplayFor(model => model.AssignedTo.Last)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>

                    <dd>
                        @Html.DisplayDateTimeFor(model => model.Created)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Modified)
                    </dt>

                    <dd>
                        @Html.DisplayDateTimeFor(model => model.Modified)
                    </dd>


                </dl>
            </div>

            <tr class="col">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="h3">Comments</th>
                            <th scope="col" class="text-right">@Html.ActionLink("Add Comment", "AddComment", new { id = Model.ID })</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!(Model.Comments is null))
                        {
                            foreach (var comment in Model.Comments)
                            {
                                <tr>
                                    <td colspan="2">
                                        <div class="h5" style="font-weight: bold">
                                            @Html.Raw(String.Format("{0} - {1}", comment.Created, comment.CreatedBy))
                                        </div>
                                        <div style="padding: 10px 0px 5px 20px">
                                            @Html.DisplayFor(m => comment.Details)
                                        </div>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
        </div>


</div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "List")
</p>
